@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", sans-serif;
}
.input-login {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
  font-size: 16px;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.input-login:hover {
  border-color: rgba(255, 255, 255, 0.8); /* Đổi màu viền khi hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng đậm hơn */
  background-color: rgba(255, 255, 255, 0.3); /* Nền sáng hơn */
}
.input-login:-webkit-autofill {
  border-color: rgba(255, 255, 255, 0.8); /* Đổi màu viền khi hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng đậm hơn */
  background-color: rgba(255, 255, 255, 0.3) !important; /* Nền sáng hơn */
}
.input-login:focus {
  border-color: #fff; /* Đổi màu viền khi focus */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Đổ bóng sâu hơn */
  background-color: rgba(255, 255, 255, 0.4); /* Nền sáng hơn khi focus */
}
/* Hiệu ứng mở Modal */
.modal-enter {
  opacity: 0;
  transform: translateY(-30px);
}

.modal-enter-active {
  opacity: 1;
  height: 100%;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hiệu ứng đóng Modal */
.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  height: 100%;
  transform: translateY(-30px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: none;
}

/* Lớp nền mờ (mask) */
.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-mask-active {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.button-cancel {
  background-color: #fff;
  color: #c62027;
  border: 1px solid #c62027;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-cancel:hover {
  background-color: #f8d2d4; /* Màu nhấn khi hover */
  color: #a71e23;
}

/* Nút Xác nhận */
.button-confirm {
  background-color: #c62027;
  color: #fff;
  border: 1px solid #c62027;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-confirm:hover {
  background-color: #a71e23; /* Màu nhấn khi hover */
  border-color: #a71e23;
}
.dot-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-loader span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #c62027;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

.dot-loader span:nth-child(2) {
  animation-delay: 0.3s;
}

.dot-loader span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
